/****** Object:  Table [Pmts].[Stg_JobStatus]    Script Date: 18/03/2020 16:01:59 ******/

CREATE TABLE [Pmts].[Stg_JobStatus](
	[Id] [tinyint] NOT NULL,
	[Description] [varchar](255) NOT NULL
) 