/****** Object:  Table [Pmts].[Stg_JobEventStatus]    Script Date: 18/03/2020 16:01:59 ******/

CREATE TABLE [StgPmts].[JobEventStatus](
	[Id] [tinyint] NOT NULL,
	[Description] [varchar](255) NOT NULL
) 