

CREATE TABLE [StgPmts].[Payment](
	[Id] [bigint] NOT NULL,
	[EventId] [uniqueidentifier] NOT NULL,
	[EarningEventId] [uniqueidentifier] NOT NULL,
	[FundingSourceEventId] [uniqueidentifier] NOT NULL,
	[EventTime] [datetimeoffset](7) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[DeliveryPeriod] [tinyint] NOT NULL,
	[CollectionPeriod] [tinyint] NOT NULL,
	[AcademicYear] [smallint] NOT NULL,
	[Ukprn] [bigint] NOT NULL,
	[LearnerReferenceNumber] [nvarchar](50) NOT NULL,
	[LearningAimSequenceNumber] [int] NULL,
	[LearnerUln] [bigint] NOT NULL,
	[PriceEpisodeIdentifier] [nvarchar](50) NOT NULL,
	[Amount] [decimal](15, 5) NOT NULL,
	[LearningAimReference] [nvarchar](8) NOT NULL,
	[LearningAimProgrammeType] [int] NOT NULL,
	[LearningAimStandardCode] [int] NOT NULL,
	[LearningAimFrameworkCode] [int] NOT NULL,
	[LearningAimPathwayCode] [int] NOT NULL,
	[LearningAimFundingLineType] [nvarchar](100) NOT NULL,
	[ContractType] [tinyint] NOT NULL,
	[TransactionType] [tinyint] NOT NULL,
	[FundingSource] [tinyint] NOT NULL,
	[IlrSubmissionDateTime] [datetime2](7) NOT NULL,
	[SfaContributionPercentage] [decimal](15, 5) NOT NULL,
	[AgreementId] [nvarchar](255) NULL,
	[AccountId] [bigint] NULL,
	[TransferSenderAccountId] [bigint] NULL,
	[CreationDate] [datetimeoffset](7) NOT NULL,
	[EarningsStartDate] [datetime] NOT NULL,
	[EarningsPlannedEndDate] [datetime] NULL,
	[EarningsActualEndDate] [datetime] NULL,
	[EarningsCompletionStatus] [tinyint] NULL,
	[EarningsCompletionAmount] [decimal](15, 5) NULL,
	[EarningsInstalmentAmount] [decimal](15, 5) NULL,
	[EarningsNumberOfInstalments] [smallint] NULL,
	[LearningStartDate] [datetime2](7) NULL,
	[ApprenticeshipId] [bigint] NULL,
	[ApprenticeshipPriceEpisodeId] [bigint] NULL,
	[ApprenticeshipEmployerType] [tinyint] NULL,
	[ReportingAimFundingLineType] [nvarchar](120) NULL,
	[NonPaymentReason] [tinyint] NULL,
	[DuplicateNumber] [int] NULL,
	[AgeAtStartOfLearning] [tinyint] NULL,
	[LearningType] [tinyint] NULL,
	[CourseType] [tinyint] NULL,
	[CourseCode] [nvarchar](50) NULL
)