/****** Object:  Table [Pmts].[Stg_ApprenticeshipStatus]    Script Date: 18/03/2020 16:01:59 ******/

CREATE TABLE [StgPmts].[ApprenticeshipStatus](
	[Id] [tinyint] NOT NULL,
	[Description] [varchar](100) NOT NULL
) 
